
/* html{
    width: 360px;
} */
body{
    width: 400px;
    height:100%; 
    background-color: rgb(40, 122, 204);
    background-blend-mode:multiply;
    /* background-size: contain; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.jumbotron-fluid{
    background-color: rgb(241, 205, 245);
    width:400px; 
    height:100%; 
    background-image: url("../images/backgroundmap.png");
    background-blend-mode:multiply;
    background-position: right;
}
#titleHeader{
    padding-bottom: 0px;
}

.form-group{
    font-weight: 500;
    font-display: bold;
    color: rgb(0, 0, 0);
}


.fa-moon{
    color: rgb(0,110,159);
}

#run-search{
    
    height: 50px;   
    width: 75px;
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    float: right;
    border-radius: 100px;
    border-radius: 48%;
    box-shadow: 0 4px rgb(39, 90, 138);
    
}
#run-search:hover{
    color: rgb(253, 253, 253);
    background-color: rgb(143,40,48);
    box-shadow: 0 2px rgb(39, 90, 138);

}
#run-search:active{
    color: rgb(250, 250, 250);
    background-color: rgb(143,40,48);
    box-shadow: 0 0px rgb(39, 90, 138);


}

.fa-ethereum{
    color:rgb(0,110,159);
}
.fa-heart{
    color: pink;
}
footer{
    margin-top:30px;
    font-size: 8px;
    /* padding-top: 10px; */
    /* padding-bottom: 5px; */
    width: 400px;
    background-color: rgb(0,110,159);
    position: bottom;
    text-align: center;
    color: rgb(255, 255, 255);
    position: absolute;
    z-index: 1;
}
#logInBnt{
    background-color:rgb(143,40,48);

}

.mapFrame{
    margin-right:20px;
}
.popup-bg {
    position: fixed;
    top:0;
    left:0;
    display:none;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.6;
    z-index:998;
}

.popup-buttons {
    position:fixed;
    top:50%;
    left:50px;
    display:none;
    width:300px;
    height:150px;
    background: #fff;
    box-shadow: 0 1px 20px #000;
    z-index: 999;
}

